body {
  background-color: green;
}

#clock {
  font-size: 5em;
  color: #fff;
  font-family: Verdana;
  text-align: center;
  margin-top: 40%;
}

#clockBar {
  background-color: white;
  height: 2px;
  width: 100px;
  margin: 0 auto;
}
